*, *:before, *:after { transition: .25s ease-in-out; }
body{
	font-family: Sans, Arial;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
	background-color: #e8e8e8;
}
code, .code{
	font-family:'JetBrains Mono';
	-webkit-touch-callout: default; /* iOS Safari */
	-webkit-user-select: text; /* Safari */
	 -khtml-user-select: text; /* Konqueror HTML */
	   -moz-user-select: text; /* Firefox */
		-ms-user-select: text; /* Internet Explorer/Edge */
			user-select: text; /* Non-prefixed version, currently */
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

hr{ color: #ff0ff0; }
hr.red{ color: #ff0000; }
